/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroTitle {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.heroSubtitle {
  font-size: 1.3rem;
  max-width: 700px;
  margin: 0 auto 2rem;
  color: var(--ifm-color-emphasis-700);
}
